[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
pillow = "*"
django-crispy-forms = "*"
graphene-django = "*"
channels = "*"
channels-redis = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-graphql-jwt = "*"
pyjwt = "*"

[dev-packages]
