{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Profile settings
{% endblock title %}

{% block head %}
  {% include "../profile_head.html" %}
{% endblock head %}

{% block body %}
    <div class="container">
        <div class="row mt-3 mb-5">
            <div class="nav flex-column nav-pills col-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link {{gactive}}" id="v-pills-general-tab"
                   href="{% url 'accounts:update_user' request.user.id %}" role="tab" aria-controls="v-pills-general" aria-selected="true">
                    General
                </a>
                <a class="nav-link {{pactive}}" id="v-pills-passwords-tab"
                   href="{% url 'accounts:change_password' request.user.id %}" role="tab" aria-controls="v-pills-passwords" aria-selected="false">
                        Passwords
                </a>
            </div>
            <div class="tab-content col-8" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-general" role="tabpanel" 
                     aria-labelledby="v-pills-general-tab">
                     {% if is_general %}
                        <form action="{% url 'accounts:update_user' request.user.id %}" method="post">
                            {% csrf_token %}
                            {{form|crispy}}
                            <input type="submit" value="Save changes" class="btn btn-success">
                        </form>   
                     {% endif %}                 
                </div>
                <div class="tab-pane fade show active" id="v-pills-passwords" role="tabpanel" 
                     aria-labelledby="v-pills-passwords-tab">
                     {% if is_password %}
                        <form action="{% url 'accounts:change_password' request.user.id %}" method="post">
                            {% csrf_token %}
                            {{form|crispy}}
                            <input type="submit" value="Change password" class="btn btn-success">
                        </form>
                     {% endif %}
                    </div>
            </div>
        </div>
    </div>
{% endblock body %}