@media (max-height:600px) {
    .chat-body {
        height: 240px;
    }
}

@media (min-height:600px) {
    .chat-body {
        height: 440px;
    }
}

@media (min-height:1024px) {
    .chat-body {
        height: 440px;
    }
}

.chat-body {
    overflow-y: scroll;
}

html {
    overflow: hidden;
}