{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  SocialNet Chat
{% endblock title %}

{% block head %}
        {% include "../profile_head.html" %}
{% endblock head %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-8 offset-sm-2">
                <a href="{% url 'chat:room_create' %}" class="btn btn-success float-right">
                    Create Room
                </a>
                <div class="list-group mt-5">
                    {% for room in rooms %}
                      <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"> {{ room.name }} </h5>
                            <small class="text-muted"> 
                                {{ room.members.count }} member{{ room.members.count|pluralize }}  
                            </small>
                        </div>
                        <p class="mb-1"> {{ room.description }} </p>
                        <small class="text-muted"> Created: {{ room.created|date:"D d M Y" }} </small>
                      </a>
                    {% empty %}
                      <p class="h3"> There's no chat rooms yet ! </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}