<ul class="navbar-nav offset-sm-10">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{request.user.avatar.url}}" alt="avatar" class="avatar-xs img-fluid">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'accounts:profile' request.user.id %}">Profile</a>
            <a class="dropdown-item" href="{% url 'accounts:update_user' request.user.id %}">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
        </div>
    </li>
</ul>